
.icon-align-left:before { content: '\e800'; } /* '' */
.icon-align-top:before { content: '\e801'; } /* '' */
.icon-all-sides:before { content: '\e802'; } /* '' */
.icon-angle:before { content: '\e803'; } /* '' */
.icon-archive:before { content: '\e804'; } /* '' */
.icon-arrow-left:before { content: '\e805'; } /* '' */
.icon-arrow-up:before { content: '\e806'; } /* '' */
.icon-avatar:before { content: '\e807'; } /* '' */
.icon-bar-chart:before { content: '\e808'; } /* '' */
.icon-blending-mode:before { content: '\e809'; } /* '' */
.icon-bookmark:before { content: '\e80a'; } /* '' */
.icon-bookmark-filled:before { content: '\e80b'; } /* '' */
.icon-border-bottom:before { content: '\e80c'; } /* '' */
.icon-border-none:before { content: '\e80d'; } /* '' */
.icon-border-width:before { content: '\e80e'; } /* '' */
.icon-box-model:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-card-stack:before { content: '\e811'; } /* '' */
.icon-card-stack-minus:before { content: '\e812'; } /* '' */
.icon-card-stack-plus:before { content: '\e813'; } /* '' */
.icon-caret-left:before { content: '\e814'; } /* '' */
.icon-caret-sort:before { content: '\e815'; } /* '' */
.icon-chevron-left:before { content: '\e816'; } /* '' */
.icon-circle:before { content: '\e817'; } /* '' */
.icon-circle-backslash:before { content: '\e818'; } /* '' */
.icon-clipboard:before { content: '\e819'; } /* '' */
.icon-clipboard-copy:before { content: '\e81a'; } /* '' */
.icon-clock:before { content: '\e81b'; } /* '' */
.icon-codesandbox-logo:before { content: '\e81c'; } /* '' */
.icon-color-wheel:before { content: '\e81d'; } /* '' */
.icon-column-spacing:before { content: '\e81e'; } /* '' */
.icon-component-boolean:before { content: '\e81f'; } /* '' */
.icon-cookie:before { content: '\e820'; } /* '' */
.icon-copy:before { content: '\e821'; } /* '' */
.icon-corner-top-left:before { content: '\e822'; } /* '' */
.icon-corner-top-right:before { content: '\e823'; } /* '' */
.icon-counter-clockwise-clock:before { content: '\e824'; } /* '' */
.icon-cross-1:before { content: '\e825'; } /* '' */
.icon-cross-2:before { content: '\e826'; } /* '' */
.icon-cross-circled:before { content: '\e827'; } /* '' */
.icon-crumpled-paper:before { content: '\e828'; } /* '' */
.icon-cursor-arrow:before { content: '\e829'; } /* '' */
.icon-dash:before { content: '\e82a'; } /* '' */
.icon-database:before { content: '\e82b'; } /* '' */
.icon-desktop:before { content: '\e82c'; } /* '' */
.icon-discord-logo:before { content: '\e82d'; } /* '' */
.icon-dot-filled:before { content: '\e82e'; } /* '' */
.icon-dots-vertical:before { content: '\e82f'; } /* '' */
.icon-double-arrow-down:before { content: '\e830'; } /* '' */
.icon-drag-handle-dots-1:before { content: '\e831'; } /* '' */
.icon-drag-handle-dots-2:before { content: '\e832'; } /* '' */
.icon-drawing-pin:before { content: '\e833'; } /* '' */
.icon-drawing-pin-filled:before { content: '\e834'; } /* '' */
.icon-dropdown-menu:before { content: '\e835'; } /* '' */
.icon-enter:before { content: '\e836'; } /* '' */
.icon-eraser:before { content: '\e837'; } /* '' */
.icon-exclamation-circled:before { content: '\e838'; } /* '' */
.icon-exclamation-mark:before { content: '\e839'; } /* '' */
.icon-exit:before { content: '\e83a'; } /* '' */
.icon-external-link:before { content: '\e83b'; } /* '' */
.icon-eye-none:before { content: '\e83c'; } /* '' */
.icon-file-plus:before { content: '\e83d'; } /* '' */
.icon-filter:before { content: '\e83e'; } /* '' */
.icon-font-style:before { content: '\e83f'; } /* '' */
.icon-frame:before { content: '\e840'; } /* '' */
.icon-framer-logo:before { content: '\e841'; } /* '' */
.icon-globe:before { content: '\e842'; } /* '' */
.icon-globe-2:before { content: '\e843'; } /* '' */
.icon-half-1:before { content: '\e844'; } /* '' */
.icon-half-2:before { content: '\e845'; } /* '' */
.icon-hand:before { content: '\e846'; } /* '' */
.icon-heart:before { content: '\e847'; } /* '' */
.icon-heart-filled:before { content: '\e848'; } /* '' */
.icon-height:before { content: '\e849'; } /* '' */
.icon-hobby-knife:before { content: '\e84a'; } /* '' */
.icon-iconjar-logo:before { content: '\e84b'; } /* '' */
.icon-id-card:before { content: '\e84c'; } /* '' */
.icon-inner-shadow:before { content: '\e84d'; } /* '' */
.icon-input:before { content: '\e84e'; } /* '' */
.icon-instagram-logo:before { content: '\e84f'; } /* '' */
.icon-justify-stretch:before { content: '\e850'; } /* '' */
.icon-keyboard:before { content: '\e851'; } /* '' */
.icon-lap-timer:before { content: '\e852'; } /* '' */
.icon-laptop:before { content: '\e853'; } /* '' */
.icon-layout:before { content: '\e854'; } /* '' */
.icon-letter-case-uppercase:before { content: '\e855'; } /* '' */
.icon-letter-spacing:before { content: '\e856'; } /* '' */
.icon-lightning-bolt:before { content: '\e857'; } /* '' */
.icon-linkedin-logo:before { content: '\e858'; } /* '' */
.icon-lock-closed:before { content: '\e859'; } /* '' */
.icon-magic-wand:before { content: '\e85a'; } /* '' */
.icon-magnifying-glass:before { content: '\e85b'; } /* '' */
.icon-mask-on:before { content: '\e85c'; } /* '' */
.icon-minimize:before { content: '\e85d'; } /* '' */
.icon-minus:before { content: '\e85e'; } /* '' */
.icon-mixer-vertical:before { content: '\e85f'; } /* '' */
.icon-mobile:before { content: '\e860'; } /* '' */
.icon-moon:before { content: '\e861'; } /* '' */
.icon-notion-logo:before { content: '\e862'; } /* '' */
.icon-open-in-new-window:before { content: '\e863'; } /* '' */
.icon-outer-shadow:before { content: '\e864'; } /* '' */
.icon-padding:before { content: '\e865'; } /* '' */
.icon-panel-bottom:before { content: '\e866'; } /* '' */
.icon-panel-bottom-minimized:before { content: '\e867'; } /* '' */
.icon-panel-left:before { content: '\e868'; } /* '' */
.icon-panel-left-minimized:before { content: '\e869'; } /* '' */
.icon-panel-right:before { content: '\e86a'; } /* '' */
.icon-panel-right-minimized:before { content: '\e86b'; } /* '' */
.icon-pause:before { content: '\e86c'; } /* '' */
.icon-pencil-2:before { content: '\e86d'; } /* '' */
.icon-people:before { content: '\e86e'; } /* '' */
.icon-pilcrow:before { content: '\e86f'; } /* '' */
.icon-pin-right:before { content: '\e870'; } /* '' */
.icon-question-mark:before { content: '\e871'; } /* '' */
.icon-quote:before { content: '\e872'; } /* '' */
.icon-radiobutton:before { content: '\e873'; } /* '' */
.icon-rocket:before { content: '\e874'; } /* '' */
.icon-rotate-counter-clockwise:before { content: '\e875'; } /* '' */
.icon-rows:before { content: '\e876'; } /* '' */
.icon-row-spacing:before { content: '\e877'; } /* '' */
.icon-ruler-horizontal:before { content: '\e878'; } /* '' */
.icon-ruler-square:before { content: '\e879'; } /* '' */
.icon-scissors:before { content: '\e87a'; } /* '' */
.icon-server:before { content: '\e87b'; } /* '' */
.icon-sewing-pin:before { content: '\e87c'; } /* '' */
.icon-sewing-pin-filled:before { content: '\e87d'; } /* '' */
.icon-shadow-inner:before { content: '\e87e'; } /* '' */
.icon-shadow-outer:before { content: '\e87f'; } /* '' */
.icon-shuffle:before { content: '\e880'; } /* '' */
.icon-sketch-logo:before { content: '\e881'; } /* '' */
.icon-space-between-horizontally:before { content: '\e882'; } /* '' */
.icon-space-between-vertically:before { content: '\e883'; } /* '' */
.icon-space-evenly-horizontally:before { content: '\e884'; } /* '' */
.icon-space-evenly-vertically:before { content: '\e885'; } /* '' */
.icon-speaker-moderate:before { content: '\e886'; } /* '' */
.icon-speaker-off:before { content: '\e887'; } /* '' */
.icon-speaker-quiet:before { content: '\e888'; } /* '' */
.icon-stack:before { content: '\e889'; } /* '' */
.icon-star:before { content: '\e88a'; } /* '' */
.icon-star-filled:before { content: '\e88b'; } /* '' */
.icon-stretch-horizontally:before { content: '\e88c'; } /* '' */
.icon-stretch-vertically:before { content: '\e88d'; } /* '' */
.icon-switch:before { content: '\e88e'; } /* '' */
.icon-text-align-bottom:before { content: '\e88f'; } /* '' */
.icon-text-align-middle:before { content: '\e890'; } /* '' */
.icon-text-align-right:before { content: '\e891'; } /* '' */
.icon-text-align-top:before { content: '\e892'; } /* '' */
.icon-text-none:before { content: '\e893'; } /* '' */
.icon-timer:before { content: '\e894'; } /* '' */
.icon-track-previous:before { content: '\e895'; } /* '' */
.icon-transform:before { content: '\e896'; } /* '' */
.icon-transparency-grid:before { content: '\e897'; } /* '' */
.icon-twitter-logo:before { content: '\e898'; } /* '' */
.icon-upload:before { content: '\e899'; } /* '' */
.icon-value-none:before { content: '\e89a'; } /* '' */
.icon-vercel-logo:before { content: '\e89b'; } /* '' */
.icon-video:before { content: '\e89c'; } /* '' */
.icon-align-baseline:before { content: '\e89d'; } /* '' */
.icon-align-bottom:before { content: '\e89e'; } /* '' */
.icon-align-end:before { content: '\e89f'; } /* '' */
.icon-align-horizontal-centers:before { content: '\e8a0'; } /* '' */
.icon-align-right:before { content: '\e8a1'; } /* '' */
.icon-align-start:before { content: '\e8a2'; } /* '' */
.icon-align-stretch:before { content: '\e8a3'; } /* '' */
.icon-align-vertical-centers:before { content: '\e8a4'; } /* '' */
.icon-arrow-bottom-left:before { content: '\e8a5'; } /* '' */
.icon-arrow-bottom-right:before { content: '\e8a6'; } /* '' */
.icon-arrow-down:before { content: '\e8a7'; } /* '' */
.icon-arrow-right:before { content: '\e8a8'; } /* '' */
.icon-arrow-top-left:before { content: '\e8a9'; } /* '' */
.icon-arrow-top-right:before { content: '\e8aa'; } /* '' */
.icon-aspect-ratio:before { content: '\e8ab'; } /* '' */
.icon-backpack:before { content: '\e8ac'; } /* '' */
.icon-badge:before { content: '\e8ad'; } /* '' */
.icon-bell:before { content: '\e8ae'; } /* '' */
.icon-border-all:before { content: '\e8af'; } /* '' */
.icon-border-dashed:before { content: '\e8b0'; } /* '' */
.icon-border-dotted:before { content: '\e8b1'; } /* '' */
.icon-border-left:before { content: '\e8b2'; } /* '' */
.icon-border-right:before { content: '\e8b3'; } /* '' */
.icon-border-solid:before { content: '\e8b4'; } /* '' */
.icon-border-split:before { content: '\e8b5'; } /* '' */
.icon-border-style:before { content: '\e8b6'; } /* '' */
.icon-border-top:before { content: '\e8b7'; } /* '' */
.icon-box:before { content: '\e8b8'; } /* '' */
.icon-button:before { content: '\e8b9'; } /* '' */
.icon-camera:before { content: '\e8ba'; } /* '' */
.icon-caret-down:before { content: '\e8bb'; } /* '' */
.icon-caret-right:before { content: '\e8bc'; } /* '' */
.icon-caret-up:before { content: '\e8bd'; } /* '' */
.icon-chat-bubble:before { content: '\e8be'; } /* '' */
.icon-check:before { content: '\e8bf'; } /* '' */
.icon-checkbox:before { content: '\e8c0'; } /* '' */
.icon-check-circled:before { content: '\e8c1'; } /* '' */
.icon-chevron-down:before { content: '\e8c2'; } /* '' */
.icon-chevron-right:before { content: '\e8c3'; } /* '' */
.icon-chevron-up:before { content: '\e8c4'; } /* '' */
.icon-code:before { content: '\e8c5'; } /* '' */
.icon-columns:before { content: '\e8c6'; } /* '' */
.icon-commit:before { content: '\e8c7'; } /* '' */
.icon-component-1:before { content: '\e8c8'; } /* '' */
.icon-component-2:before { content: '\e8c9'; } /* '' */
.icon-component-instance:before { content: '\e8ca'; } /* '' */
.icon-component-none:before { content: '\e8cb'; } /* '' */
.icon-component-placeholder:before { content: '\e8cc'; } /* '' */
.icon-container:before { content: '\e8cd'; } /* '' */
.icon-corner-bottom-left:before { content: '\e8ce'; } /* '' */
.icon-corner-bottom-right:before { content: '\e8cf'; } /* '' */
.icon-corners:before { content: '\e8d0'; } /* '' */
.icon-countdown-timer:before { content: '\e8d1'; } /* '' */
.icon-crop:before { content: '\e8d2'; } /* '' */
.icon-crosshair-1:before { content: '\e8d3'; } /* '' */
.icon-crosshair-2:before { content: '\e8d4'; } /* '' */
.icon-cube:before { content: '\e8d5'; } /* '' */
.icon-cursor-text:before { content: '\e8d6'; } /* '' */
.icon-dashboard:before { content: '\e8d7'; } /* '' */
.icon-dimensions:before { content: '\e8d8'; } /* '' */
.icon-disc:before { content: '\e8d9'; } /* '' */
.icon-divider-horizontal:before { content: '\e8da'; } /* '' */
.icon-divider-vertical:before { content: '\e8db'; } /* '' */
.icon-dot:before { content: '\e8dc'; } /* '' */
.icon-dots-horizontal:before { content: '\e8dd'; } /* '' */
.icon-dot-solid:before { content: '\e8de'; } /* '' */
.icon-double-arrow-left:before { content: '\e8df'; } /* '' */
.icon-double-arrow-right:before { content: '\e8e0'; } /* '' */
.icon-double-arrow-up:before { content: '\e8e1'; } /* '' */
.icon-download:before { content: '\e8e2'; } /* '' */
.icon-drag-handle-horizontal:before { content: '\e8e3'; } /* '' */
.icon-drag-handle-vertical:before { content: '\e8e4'; } /* '' */
.icon-drawing-pin-solid:before { content: '\e8e5'; } /* '' */
.icon-enter-full-screen:before { content: '\e8e6'; } /* '' */
.icon-envelope-closed:before { content: '\e8e7'; } /* '' */
.icon-envelope-open:before { content: '\e8e8'; } /* '' */
.icon-exclamation-triangle:before { content: '\e8e9'; } /* '' */
.icon-exit-full-screen:before { content: '\e8ea'; } /* '' */
.icon-eye-closed:before { content: '\e8eb'; } /* '' */
.icon-eye-open:before { content: '\e8ec'; } /* '' */
.icon-face:before { content: '\e8ed'; } /* '' */
.icon-figma-logo:before { content: '\e8ee'; } /* '' */
.icon-file:before { content: '\e8ef'; } /* '' */
.icon-file-minus:before { content: '\e8f0'; } /* '' */
.icon-file-text:before { content: '\e8f1'; } /* '' */
.icon-font-bold:before { content: '\e8f2'; } /* '' */
.icon-font-family:before { content: '\e8f3'; } /* '' */
.icon-font-italic:before { content: '\e8f4'; } /* '' */
.icon-font-roman:before { content: '\e8f5'; } /* '' */
.icon-font-size:before { content: '\e8f6'; } /* '' */
.icon-gear:before { content: '\e8f7'; } /* '' */
.icon-github-logo:before { content: '\e8f8'; } /* '' */
.icon-grid:before { content: '\e8f9'; } /* '' */
.icon-group:before { content: '\e8fa'; } /* '' */
.icon-hamburger-menu:before { content: '\e8fb'; } /* '' */
.icon-heading:before { content: '\e8fc'; } /* '' */
.icon-home:before { content: '\e8fd'; } /* '' */
.icon-image:before { content: '\e8fe'; } /* '' */
.icon-info-circled:before { content: '\e8ff'; } /* '' */
.icon-justify-center:before { content: '\e900'; } /* '' */
.icon-justify-end:before { content: '\e901'; } /* '' */
.icon-justify-start:before { content: '\e902'; } /* '' */
.icon-layers:before { content: '\e903'; } /* '' */
.icon-letter-case-capitalize:before { content: '\e904'; } /* '' */
.icon-letter-case-lowercase:before { content: '\e905'; } /* '' */
.icon-letter-case-toggle:before { content: '\e906'; } /* '' */
.icon-line-height:before { content: '\e907'; } /* '' */
.icon-link-1:before { content: '\e908'; } /* '' */
.icon-link-2:before { content: '\e909'; } /* '' */
.icon-link-break-1:before { content: '\e90a'; } /* '' */
.icon-link-break-2:before { content: '\e90b'; } /* '' */
.icon-link-none-1:before { content: '\e90c'; } /* '' */
.icon-link-none-2:before { content: '\e90d'; } /* '' */
.icon-list-bullet:before { content: '\e90e'; } /* '' */
.icon-lock-open-1:before { content: '\e90f'; } /* '' */
.icon-lock-open-2:before { content: '\e910'; } /* '' */
.icon-loop:before { content: '\e911'; } /* '' */
.icon-margin:before { content: '\e912'; } /* '' */
.icon-mask-off:before { content: '\e913'; } /* '' */
.icon-minus-circled:before { content: '\e914'; } /* '' */
.icon-mix:before { content: '\e915'; } /* '' */
.icon-mixer-horizontal:before { content: '\e916'; } /* '' */
.icon-modulz-logo:before { content: '\e917'; } /* '' */
.icon-move:before { content: '\e918'; } /* '' */
.icon-opacity:before { content: '\e919'; } /* '' */
.icon-overline:before { content: '\e91a'; } /* '' */
.icon-paper-plane:before { content: '\e91b'; } /* '' */
.icon-pencil-1:before { content: '\e91c'; } /* '' */
.icon-person:before { content: '\e91d'; } /* '' */
.icon-pie-chart:before { content: '\e91e'; } /* '' */
.icon-pin-bottom:before { content: '\e91f'; } /* '' */
.icon-pin-left:before { content: '\e920'; } /* '' */
.icon-pin-top:before { content: '\e921'; } /* '' */
.icon-play:before { content: '\e922'; } /* '' */
.icon-plus:before { content: '\e923'; } /* '' */
.icon-plus-circled:before { content: '\e924'; } /* '' */
.icon-question-mark-circled:before { content: '\e925'; } /* '' */
.icon-reader:before { content: '\e926'; } /* '' */
.icon-reload:before { content: '\e927'; } /* '' */
.icon-reset:before { content: '\e928'; } /* '' */
.icon-resume:before { content: '\e929'; } /* '' */
.icon-section:before { content: '\e92a'; } /* '' */
.icon-sewing-pin-solid:before { content: '\e92b'; } /* '' */
.icon-shadow:before { content: '\e92c'; } /* '' */
.icon-shadow-none:before { content: '\e92d'; } /* '' */
.icon-share-1:before { content: '\e92e'; } /* '' */
.icon-share-2:before { content: '\e92f'; } /* '' */
.icon-size:before { content: '\e930'; } /* '' */
.icon-slash:before { content: '\e931'; } /* '' */
.icon-slider:before { content: '\e932'; } /* '' */
.icon-speaker-loud:before { content: '\e933'; } /* '' */
.icon-square:before { content: '\e934'; } /* '' */
.icon-stitches-logo:before { content: '\e935'; } /* '' */
.icon-stop:before { content: '\e936'; } /* '' */
.icon-stopwatch:before { content: '\e937'; } /* '' */
.icon-strikethrough:before { content: '\e938'; } /* '' */
.icon-sun:before { content: '\e939'; } /* '' */
.icon-symbol:before { content: '\e93a'; } /* '' */
.icon-table:before { content: '\e93b'; } /* '' */
.icon-target:before { content: '\e93c'; } /* '' */
.icon-text:before { content: '\e93d'; } /* '' */
.icon-text-align-center:before { content: '\e93e'; } /* '' */
.icon-text-align-justify:before { content: '\e93f'; } /* '' */
.icon-text-align-left:before { content: '\e940'; } /* '' */
.icon-thick-arrow-down:before { content: '\e941'; } /* '' */
.icon-thick-arrow-left:before { content: '\e942'; } /* '' */
.icon-thick-arrow-right:before { content: '\e943'; } /* '' */
.icon-thick-arrow-up:before { content: '\e944'; } /* '' */
.icon-tokens:before { content: '\e945'; } /* '' */
.icon-track-next:before { content: '\e946'; } /* '' */
.icon-trash:before { content: '\e947'; } /* '' */
.icon-triangle-down:before { content: '\e948'; } /* '' */
.icon-triangle-left:before { content: '\e949'; } /* '' */
.icon-triangle-right:before { content: '\e94a'; } /* '' */
.icon-triangle-up:before { content: '\e94b'; } /* '' */
.icon-underline:before { content: '\e94c'; } /* '' */
.icon-update:before { content: '\e94d'; } /* '' */
.icon-value:before { content: '\e94e'; } /* '' */
.icon-view-grid:before { content: '\e94f'; } /* '' */
.icon-view-horizontal:before { content: '\e950'; } /* '' */
.icon-view-none:before { content: '\e951'; } /* '' */
.icon-view-vertical:before { content: '\e952'; } /* '' */
.icon-width:before { content: '\e953'; } /* '' */
.icon-zoom-in:before { content: '\e954'; } /* '' */
.icon-zoom-out:before { content: '\e955'; } /* '' */
.icon-accessibility:before { content: '\e956'; } /* '' */
.icon-activity-log:before { content: '\e957'; } /* '' */
.icon-align-center:before { content: '\e958'; } /* '' */
.icon-align-center-horizontally:before { content: '\e959'; } /* '' */
.icon-align-center-vertically:before { content: '\e95a'; } /* '' */
