<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>weedeenapp</string>  <!-- Your custom scheme here -->
			</array>
		</dict>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>weedeen</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>fontello.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-ExtraBold.ttf</string>
		<string>Roboto-ExtraBoldItalic.ttf</string>
		<string>Roboto-ExtraLight.ttf</string>
		<string>Roboto-ExtraLightItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-SemiBold.ttf</string>
		<string>Roboto-SemiBoldItalic.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto_Condensed-Black.ttf</string>
		<string>Roboto_Condensed-BlackItalic.ttf</string>
		<string>Roboto_Condensed-Bold.ttf</string>
		<string>Roboto_Condensed-BoldItalic.ttf</string>
		<string>Roboto_Condensed-ExtraBold.ttf</string>
		<string>Roboto_Condensed-ExtraBoldItalic.ttf</string>
		<string>Roboto_Condensed-ExtraLight.ttf</string>
		<string>Roboto_Condensed-ExtraLightItalic.ttf</string>
		<string>Roboto_Condensed-Italic.ttf</string>
		<string>Roboto_Condensed-Light.ttf</string>
		<string>Roboto_Condensed-LightItalic.ttf</string>
		<string>Roboto_Condensed-Medium.ttf</string>
		<string>Roboto_Condensed-MediumItalic.ttf</string>
		<string>Roboto_Condensed-Regular.ttf</string>
		<string>Roboto_Condensed-SemiBold.ttf</string>
		<string>Roboto_Condensed-SemiBoldItalic.ttf</string>
		<string>Roboto_Condensed-Thin.ttf</string>
		<string>Roboto_Condensed-ThinItalic.ttf</string>
		<string>Roboto_SemiCondensed-Black.ttf</string>
		<string>Roboto_SemiCondensed-BlackItalic.ttf</string>
		<string>Roboto_SemiCondensed-Bold.ttf</string>
		<string>Roboto_SemiCondensed-BoldItalic.ttf</string>
		<string>Roboto_SemiCondensed-ExtraBold.ttf</string>
		<string>Roboto_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Roboto_SemiCondensed-ExtraLight.ttf</string>
		<string>Roboto_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>Roboto_SemiCondensed-Italic.ttf</string>
		<string>Roboto_SemiCondensed-Light.ttf</string>
		<string>Roboto_SemiCondensed-LightItalic.ttf</string>
		<string>Roboto_SemiCondensed-Medium.ttf</string>
		<string>Roboto_SemiCondensed-MediumItalic.ttf</string>
		<string>Roboto_SemiCondensed-Regular.ttf</string>
		<string>Roboto_SemiCondensed-SemiBold.ttf</string>
		<string>Roboto_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>Roboto_SemiCondensed-Thin.ttf</string>
		<string>Roboto_SemiCondensed-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
